
/* 
    Name: Matthew Lee Wright
    Class: Java 3
    Date: 5 November 2018
    Description: The Syle sheet for the ConfidentU application
*/
body {background-image: url("Pictures/ConfidentUAppBackgrounImg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;}

header {border-bottom: 1px solid orange;
        box-shadow: 3px 3px 30px black;
        background-color: white;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: 1;}

header h1 {color: orange;
           text-align: center;
           margin-top: 2%;
           margin-bottom: 2%;}

h1 a{color: orange;
     text-decoration: none;}

main {text-align: center;
      color: orange;
      margin-left: auto;
      margin-right: auto;
      height: 100%;}

main a {text-decoration: none;
        color: orange;
        border: 1px solid orange;
        border-radius: 30px;
        padding: 7px;
        padding-left: 3%;
        padding-right: 3%;}

main a:hover {text-decoration: none;
              background-color: orange;
              box-shadow: 3px 3px 9px black;
              color: white;
              border: 1px solid orange;
              border-radius: 30px;
              padding: 7px;
              padding-left: 3%;
              padding-right: 3%;}

/**************************************************************************** YOU LEFT OFF HERE 11-6-2018 **************************************************/
nav {text-align: center;
     font-weight: bold;
     width: 100%;
     position: absolute;
     top: 18%;}

nav ul {list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
        box-shadow: 3px 3px 30px black;}

nav li {float: left;
        border-right: 1px solid orange;
        width: 33.18%;}

.active {background-color: orange;
         color: white;}

li a:hover:not(.active){background-color: orange;
                        color: white;
                        box-shadow: 0 1px 0 1px white;
                        transition: background-color .3s ease-in-out;}

nav li:last-child {border-right: none;}

nav a  {font-size: 20px;
        text-decoration: none;
        color: orange;
        display: block;
        text-align: center;
        padding: 8px 0px;}

.dentistNav nav {text-align: center;
     font-weight: bold;
     width: 100%;
     position: absolute;
     top: 18%;}

.dentistNav nav ul {list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
        box-shadow: 3px 3px 30px black;}

.dentistNav li a:hover:not(.active){background-color: orange;
                                    color: white;
                                    box-shadow: 0 1px 0 1px white;
                                    transition: background-color .3s ease-in-out;}

.dentistNav nav li {float: left;
                    border-right: 1px solid orange;
                    width: 49.50%;}

.dentistNav nav li:last-child {border-right: none;}

.dentistNav .active {background-color: orange;
         color: white;} 

.dentistNav nav a  {font-size: 20px;
                    text-decoration: none;
                    color: orange;
                    display: block;
                    text-align: center;
                    padding: 8px 0px;}

.verticallyCenter_mainContent{position: absolute;
                              width: 100%;
                              display: inline;
                              top: 50%;
                              left: 50%;
                              transform: translate(-50%, -50%);}

.HorizontalCenter_mainContent{
    position: relative;
    top: 50%;
    background-color: black;
    width: 100vw;
    
    overflow-x: auto;
    overflow: auto;
    white-space: nowrap;
}

.HorizontalCenter_mainContent .tableDesign{
   float: left;
}

img {max-height: 20vw;
     max-width: 30vw;}

.verticallyCenter_mainContent label{position: absolute;
                                    margin-top: 1%;}

.tableDesign {text-align: left;
              border: 1px solid orange;
              border-collapse: collapse;
              margin-left: auto;
              margin-right: auto;
              width: 30%;}

.tableDesign td {display: left-align;
                 width: 10% ;
                 height: 2vw;
                 vertical-align: middle;
                 padding-left: 8%;
                 border-bottom: 1px solid orange;}

.tableDesign tr:first-of-type {border-top: 1px solid orange;}

.tableDesign tr:nth-of-type(odd){background-color: orange;
                                 color: white;}

.tableDesign tr:nth-of-type(even){background-color: white;
                                  color: orange;}

input {width: 30%;
       margin-top: 1%;
       margin-left: 8%;
       margin-right: 8%;
       border: 1px solid orange;
       border-radius: 30px;
       padding: 5px;}

.submitBtn{width: 10%;
           margin-bottom: 1%;
           border: 1px solid orange;
           background-color: white;
           color: orange;
           border-radius: 30px;
           padding: 3px;}

.submitBtn:hover {width: 10%;
                  margin-bottom: 1%;
                  border: 1px solid orange;
                  box-shadow: 3px 3px 9px black;
                  background-color: orange;
                  color: white;
                  border-radius: 30px;
                  padding: 3px;}

.accountInfoUpdateBtns {width: 100vw;
                        margin-right: auto;
                        position: absolute;}

footer {border-top: 1px solid orange;
        box-shadow: 3px 3px 30px black;
        position: absolute;
        bottom: 0;
        width: 100vw;
        min-height: 4vw;
        background-color: white;
        z-index: 1;}

footer p {color: orange;
          text-align: center;
          margin-top: 2%;
          margin-bottom: 2%;
          font-size: small;
          font-style: italic;}